<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img" />

    <div class="header-details flexrow">
      {{> "systems/pf1/templates/items/parts/item-name.hbs"}}

      <ul class="summary">
        <li>
          {{itemType}}
        </li>
        <li>
          {{#unless showUnidentifiedData}}{{labels.equipmentSubtype}}{{/unless}}
        </li>
        <li>
          {{#if hasMultipleSlots}}{{#unless showUnidentifiedData}}{{labels.slot}}{{/unless}}{{/if}}
        </li>
      </ul>
    </div>
  </header>

  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "PF1.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "PF1.Details" }}</a>
    {{#unless showUnidentifiedData}}
    <a class="item" data-tab="changes">{{ localize "PF1.Changes" }}</a>
    {{/unless}}
    <a class="item" data-tab="links">{{localize "PF1.Links"}}</a>
    {{#unless showUnidentifiedData}}
    <a class="item" data-tab="advanced">{{localize "PF1.Advanced"}}</a>
    {{/unless}}
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">
    {{!-- Description Tab --}}
    {{> "systems/pf1/templates/items/parts/item-description.hbs"}}

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      {{> "systems/pf1/templates/items/parts/item-actions.hbs"}}

      <h3 class="form-header">{{localize "PF1.Properties"}}</h3>

      <div class="form-group stacked">
        {{#if owner}}
        <label class="checkbox">
          <input type="checkbox" name="system.showInQuickbar" {{checked system.showInQuickbar}}/> {{localize "PF1.ShowInQuickbar"}}
        </label>
        {{/if}}
      </div>

      {{> "systems/pf1/templates/items/parts/item-aura.hbs"}}

      <h3 class="form-header">{{localize "PF1.Details"}}</h3>
      {{!-- Proficiencies --}}
      {{~> "systems/pf1/templates/items/parts/item-proficiencies.hbs"}}

      {{!-- Equipment Type --}}
      <h3 class="form-header">{{localize "PF1.InventoryArmorEquipment"}}</h3>
      <div class="form-group">
        <label>{{localize "PF1.Category"}}</label>
        <div class="form-fields">
          <select name="system.subType">
            {{#select system.subType}}
            {{#each equipmentCategories.types as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
      </div>

      {{!-- Equipment Subtype --}}
      <div class="form-group">
        <label>{{localize "PF1.Type"}}</label>
        <div class="form-fields">
          <select name="system.equipmentSubtype">
            {{#select system.equipmentSubtype}}
            {{#each equipmentCategories.subTypes as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
      </div>

      {{!-- Equipment Slot --}}
      {{#if hasMultipleSlots}}
      <div class="form-group">
        <label>{{localize "PF1.Slot"}}</label>
        <div class="form-fields">
          <select name="system.slot">
            {{#select system.slot}}
            {{#each equipmentSlots as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
      </div>
      {{else}}
      <input type="hidden" name="system.slot" value="{{system.subType}}" />
      {{/if}}

      {{!-- Equipment Size --}}
      {{> "systems/pf1/templates/items/parts/item-size.hbs" allowAutoResizing=true}}

      {{!-- Equipment Status --}}
      <div class="form-group stacked">
        {{#if isGM}}
        <label class="checkbox">
          <input type="checkbox" name="system.identified" {{checked system.identified}}/> {{localize "PF1.Identified"}}
        </label>
        {{/if}}
        <label class="checkbox">
          <input type="checkbox" name="system.masterwork" {{checked system.masterwork}}/> {{localize "PF1.Masterwork"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="system.broken" {{checked system.broken}}/> {{localize "PF1.Broken"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="system.nonlethal" {{checked system.nonlethal}}/> {{localize "PF1.Nonlethal"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="system.proficient" {{checked system.proficient}}/> {{localize "PF1.ProficientAttack"}}
        </label>
      </div>

      <hr>

      {{!-- Armor Class --}}
      <div class="form-group">
        <label>{{localize "PF1.ArmorClass"}}</label>
        <div class="form-fields">
          <input type="text" name="system.armor.value" value="{{system.armor.value}}" data-dtype="Number"/>
        </div>
      </div>

      {{!-- Enhancement Bonus --}}
      {{#unless showUnidentifiedData}}
      <div class="form-group">
        <label>{{localize "PF1.EnhancementBonus"}}</label>
        <div class="form-fields">
          <input type="text" name="system.armor.enh" value="{{system.armor.enh}}" data-dtype="Number"/>
        </div>
      </div>
      {{/unless}}

      {{!-- Dexterity Modifier --}}
      <div class="form-group">
        <label>{{localize "PF1.MaxDexterityModifier"}}</label>
        <div class="form-fields">
          <input type="text" name="system.armor.dex" value="{{system.armor.dex}}" placeholder="{{localize "PF1.Unlimited"}}" data-dtype="Number"/>
        </div>
      </div>

      {{!-- Armor Check Penalty --}}
      <div class="form-group">
        <label>{{localize "PF1.ArmorCheckPenalty"}}</label>
        <div class="form-fields">
          <input type="text" name="system.armor.acp" value="{{system.armor.acp}}" data-dtype="Number" placeholder="0"/>
        </div>
      </div>

      {{!-- Spell Failure --}}
      <div class="form-group">
        <label>{{localize "PF1.ArcaneSpellFailure"}}</label>
        <div class="form-fields">
          <input type="text" name="system.spellFailure" value="{{system.spellFailure}}" data-dtype="Number" placeholder="0"/>
        </div>
      </div>

      {{!-- Advanced Tag --}}
      {{#unless showUnidentifiedData}}
      {{> "systems/pf1/templates/items/parts/item-tag.hbs"}}
      {{/unless}}
    </div>

    {{!-- Changes Tab --}}
    {{#unless showUnidentifiedData}}
    <div class="tab flexcol" data-group="primary" data-tab="changes">
      {{~> "systems/pf1/templates/items/parts/item-changes.hbs"}}
    </div>
    {{/unless}}

    <div class="tab flexcol" data-group="primary" data-tab="links">
      {{> "systems/pf1/templates/items/parts/item-links.hbs"}}
    </div>

    {{#unless showUnidentifiedData}}
    <div class="tab flexcol" data-group="primary" data-tab="advanced">
      {{> "systems/pf1/templates/items/parts/item-advanced.hbs"}}
    </div>
    {{/unless}}
  </section>
</form>
