<ol class="items-list changes-list">
  {{!-- Flags --}}
  <li class="items-header flexrow">
    <h3 class="item-name flag-name flexrow">{{localize "PF1.CheckFlags"}}</h3>
    <div class="item-enabled flexrow">{{localize "PF1.Enabled"}}</div>
  </li>

  <ol class="items-list">
    <li class="item change-flag flexrow">
      <div class="item-name flag-name flexrow">{{localize "PF1.ChangeFlagDwarflikeEncumbrance"}}</div>
      <div class="item-enabled flexrow"><input type="checkbox" name="system.changeFlags.noEncumbrance" {{checked system.changeFlags.noEncumbrance}}/></div>
    </li>
    <li class="item change-flag flexrow">
      <div class="item-name flag-name flexrow">{{localize "PF1.ChangeFlagMediumArmorFullSpeed"}}</div>
      <div class="item-enabled flexrow"><input type="checkbox" name="system.changeFlags.mediumArmorFullSpeed" {{checked system.changeFlags.mediumArmorFullSpeed}}/></div>
    </li>
    <li class="item change-flag flexrow">
      <div class="item-name flag-name flexrow">{{localize "PF1.ChangeFlagHeavyArmorFullSpeed"}}</div>
      <div class="item-enabled flexrow"><input type="checkbox" name="system.changeFlags.heavyArmorFullSpeed" {{checked system.changeFlags.heavyArmorFullSpeed}}/></div>
    </li>
    <li class="item change-flag flexrow">
      <div class="item-name flag-name flexrow">{{localize "PF1.ChangeFlagLoseDexToAC"}}</div>
      <div class="item-enabled flexrow"><input type="checkbox" name="system.changeFlags.loseDexToAC" {{checked system.changeFlags.loseDexToAC}}/></div>
    </li>
  </ol>

  {{!-- Changes --}}
  <li class="items-header change-header flexrow">
    <h3 class="item-name flexrow">{{localize "PF1.Changes"}} <a class='help-browser' data-url="Help/Items/Changes"><i class="far fa-question-circle"></i></a></h3>
    <div class="item-operator flexrow">{{localize "PF1.Operator"}}</div>
    <div class="item-target flexrow">{{localize "PF1.Target"}}</div>
    <div class="item-modifier flexrow">{{localize "PF1.Modifier"}}</div>
    <div class="item-priority flexrow" data-tooltip="PF1.Priority"><i class="fas fa-sort"></i></div>

    {{#if owner}}
    <div class="item-controls basic flexrow">
      <a class="item-control item-create change-control add-change">
        <i class="fas fa-plus"></i>
      </a>
    </div>
    {{/if}}
  </li>

  <ol class="items-list changes">
  {{#each changes as |change a|}}
    <li class="item change flexrow" data-change="{{change.data._id}}">
      <div class="item-name item-formula flexrow">
        {{#unless isScript}}
        <input class="change-formula formula" type="text" name="system.changes.{{a}}.formula" value="{{lookup this.data "formula"}}" placeholder="{{localize "PF1.Formula"}}" required/>
        {{else}}
        <button type="button" class="edit-change-contents"><i class="fas fa-edit"></i> {{localize "PF1.Edit"}}</button>
        {{/unless}}
      </div>

      <div class="item-operator flexrow">
        <select class="change-operator" name="system.changes.{{a}}.operator">
          {{#select (lookup this.data "operator") }}
          <option value="add">+</option>
          <option value="set">=</option>
          <option value="script">S</option>
          {{/select}}
        </select>
      </div>

      <div class="item-target flexrow">
        <span class="change-target{{#unless isValid}} invalid{{/unless}}">{{label}}</span>
      </div>

      <div class="item-modifier flexrow">
        <select class="change-modifier" name="system.changes.{{a}}.modifier">
          {{#select (lookup this.data "modifier") }}
          {{#each ../changeGlobals.modifiers as |name type|}}
          <option value="{{type}}">{{localize name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="item-priority flexrow">
        <input class="change-priority" type="text" data-dtype="Number" name="system.changes.{{a}}.priority" value="{{lookup change.data "priority"}}"
          placeholder="0" />
      </div>

      <div class="item-controls flexrow basic">
        {{#if ../owner}}
        <a class="item-control change-control delete-change"><i class="fas fa-trash"></i></a>
        {{/if}}
      </div>
    </li>
  {{/each}}
  </ol>

  <li class="items-header change-header flexrow">
    <h3 class="item-name flexrow">{{localize "PF1.ContextNotes"}}</h3>
    <div class="item-target flexrow">{{localize "PF1.Target"}}</div>
    {{#if owner}}
    <div class="item-controls basic flexrow">
      <a class="context-note-control add-note">
        <i class="fas fa-plus"></i>
      </a>
    </div>
    {{/if}}
  </li>

  <ol class="items-list context-notes">
    {{#each contextNotes as |note a|}}
    <li class="item context-note flexrow" data-note="{{a}}">
      <div class="item-name flexrow">
        <textarea class="context-note-text context-text" name="system.contextNotes.{{a}}.text" placeholder="{{localize "PF1.Notes"}}">{{{lookup this "text"}}}</textarea>
      </div>

      <div class="item-target flexrow">
        <span class="context-note-target{{#unless isValid}} invalid{{/unless}}">{{label}}</span>
      </div>

      <div class="item-controls flexrow basic">
        {{#if ../owner}}
        <a class="context-note-control delete-note"><i class="fas fa-trash"></i></a>
        {{/if}}
      </div>
    </li>
    {{/each}}
  </ol>
</ol>
