<form autocomplete='off'>
	<p>{{localize "PF1.Troubleshooter.Prelude"}}</p>
	<h2>{{localize "PF1.Troubleshooter.Steps.Label"}}</h2>
	<ol>
		<li>{{{localize "PF1.Troubleshooter.Steps.Help" link=links.help}}}</li>
		<li><a href='{{links.faq}}'>{{localize "PF1.Troubleshooter.Steps.FAQ"}}</a></li>
		<li>{{localize "PF1.Troubleshooter.Steps.Log"}}
		<li>
			{{localize "PF1.Troubleshooter.Steps.Modules"}}
			<ul>
				<li>{{localize "PF1.Troubleshooter.Steps.DisableModules"}}</li>

				<li>{{{localize "PF1.Troubleshooter.Steps.ModuleSuggest" link=links.helpmodule}}}</li>
			</ul>
		</li>
		<li>{{{localize "PF1.Troubleshooter.Steps.Discord" link=links.foundry.discord}}}
			<ul>
				<li>{{{localize "PF1.Troubleshooter.Steps.DiscordChannel" channel=links.foundry.channel}}}</li>
			</ul>
		</li>
		<li>{{{localize "PF1.Troubleshooter.Steps.Report" reportlink=links.report}}}</li>
	</ol>

	<hr>

	<h2>{{localize "PF1.Troubleshooter.Actions.Label"}}</h2>
	<button type="button" data-action='migrate' {{#unless isGM}}disabled{{/unless}}><h3>{{localize "PF1.Troubleshooter.Actions.Migrate"}}</h3></button>
	<p class='hint'>{{{localize "PF1.Troubleshooter.Actions.MigrateHint"}}}</p>
</form>
